{{#each flashMessages.queue as |flash|}}
  {{#if flash.sticky }}
  <StickyMessage @flash={{flash}} as |close|>
    {{#if flash.componentName}}
      {{component flash.componentName flash=flash componentContent=flash.componentContent componentAction=(action flash.componentAction) close=close componentClass=flash.type}}
    {{/if}}
  </StickyMessage>
  {{/if}}
{{/each}}
{{#if flashMessages.queue}}
  <div aria-live='assertive' id='flash-message' class='fixed z-20 inset-0 flex items-end px-4 py-6 pointer-events-none sm:p-6 sm:items-start'>
    <div class='w-full flex flex-col items-center space-y-4 sm:items-end'>
      {{#each flashMessages.queue as |flash|}}
      {{#unless flash.sticky }}
        {{#if (and isInline flash.isInline)}}
          <FlashMessage @flash={{flash}} as |flashComponent flash close|>
            {{#if flash.componentName}}
              {{component flash.componentName content=flash.content close=close}}
            {{/if}}
          </FlashMessage>
        {{else}}
          <FlashMessages::CustomFlash @flash={{flash}} as |close|>
            {{#if flash.componentName}}
              {{component flash.componentName flash=flash componentContent=flash.componentContent componentAction=(action flash.componentAction) close=close componentClass=flash.type}}
            {{/if}}
          </FlashMessages::CustomFlash>
        {{/if}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
{{/if}}