{{#if @vertical}}
<div class='flex flex-col'>
  <div>
    <div class='status-pill flex-grow-0' ...attributes>
      {{@label}}
    </div>
  </div>
  {{#if @model.isPastDue}}
    <span class='text-red-800 text-xs'>{{@model.daysPastDue}} days past due</span>
  {{/if}}
</div>
{{else}}
<div class='status-pill flex-grow-0' ...attributes>
  {{@label}}
</div>
{{#if @model.isPastDue}}
    <span class='text-red-800 text-xs'>{{@model.daysPastDue}} days past due</span>
  {{/if}}
{{/if}}