{{#if showRecords}}
  <Layouts::PageHeader @resourceType='recurring-invoice' @pageType='list'>
    <Breadcrumbs @segments={{routeSegments}} />
    <Layouts::ColumnsGrid class='md:grid-cols-10'>
      <Layouts::GridColumn class='md:col-span-8'>
        <h2 class='leading-normal'>Recurring Invoices</h2>
      </Layouts::GridColumn>
      <Layouts::GridColumn class='md:col-span-2'>
        <FormElements::TextInput
          placeholder='Search'
          @value={{query}}
          @allowClear={{true}}
          @leadingIcon={{true}}
          @trailingIcon={{true}}
          as |leadingIcon trailingIcon showClear showErrors onTrailingIconClick|
        >
          <FormElements::InputLeadingIcon>
            <Icons::Search/>
          </FormElements::InputLeadingIcon>
          <FormElements::InputTrailingIcon @onTrailingIconClick={{onTrailingIconClick}} @showClear={{showClear}} @showErrors={{showErrors}}/>
        </FormElements::TextInput>
      </Layouts::GridColumn>
    </Layouts::ColumnsGrid>
  </Layouts::PageHeader>

  <Layouts::PageBody>
    <Layouts::ColumnsGrid class='md:grid-cols-10'>
      <Layouts::GridColumn class='md:col-span-8'>
        <LinkTo @route='invoice-templates.new'class='tw-button'>
          <Icons::Plus/>
          Create New Recurring Invoice
        </LinkTo>
      </Layouts::GridColumn>
      <Layouts::GridColumn class='md:col-span-2 md:justify-self-end'>
        <button type='button' {{action 'exportXls'}} class='tw-button secondary'>Export</button>
      </Layouts::GridColumn>
    </Layouts::ColumnsGrid>

    {{#if invoicesPresent}}
      <div class='tw-table-wrapper bordered'>
        <table>
          <thead>
            <tr>
              <th scope='col' class='w-full'>
                <SortBy
                  @field='template_name'
                  @defaultOrder='desc'
                  @sort={{sort}}
                  @order={{order}}
                  @onSortChange={{action 'sort'}}>
                    Name
                </SortBy>
              </th>
              <th scope='col' class='w-auto'>
                <SortBy
                  @field='recurring_schedules_count'
                  @sort={{sort}}
                  @order={{order}}
                  @onSortChange={{action 'sort'}}>
                    Clients
                </SortBy>
              </th>
              <th scope='col' class='w-auto'>
                <SortBy
                  @field='frequency'
                  @defaultOrder='asc'
                  @sort={{sort}}
                  @order={{order}}
                  @onSortChange={{action 'sort'}}>
                    Frequency
                </SortBy>
              </th>
              <th scope='col' class='w-32'>
                <SortBy
                  @field='total'
                  @sort={{sort}}
                  @order={{order}}
                  @onSortChange={{action 'sort'}}>
                    Total
                </SortBy>
              </th>
              <th scope='col' class='w-32'>
                <SortBy
                  @field='total_recurring'
                  @defaultOrder='desc'
                  @sort={{sort}}
                  @order={{order}}
                  @onSortChange={{action 'sort'}}>
                    Recurring Total
                </SortBy>
              </th>
            </tr>
          </thead>
          <tbody>
            {{#each model as |invoice|}}
              <tr>
                <td>
                  <div class='tw-label'>Name</div>
                  {{invoice.templateName}}
                  <LinkTo @route='invoice-templates.show' class='link-clicker' @model={{invoice}} />
                </td>
                <td>
                  <div class='tw-label'>Clients</div>
                  {{invoice.recurringSchedulesCount}}
                  <LinkTo @route='invoice-templates.show' class='link-clicker' @model={{invoice}} />
                </td>
                <td>
                  <div class='tw-label'>Frequency</div>
                  {{invoice.frequency}}
                  <LinkTo @route='invoice-templates.show' class='link-clicker' @model={{invoice}} />
                </td>
                <td>
                  <div class='tw-label'>Total</div>
                  <FormatCurrency @value={{invoice.cachedTotal}} @isoCode={{invoice.currency}}/>
                  <LinkTo @route='invoice-templates.show' class='link-clicker' @model={{invoice}} />
                </td>
                <td>
                  <div class='tw-label'>Recurring Total</div>
                  <FormatCurrency @value={{invoice.cachedTotalRecurring}} @isoCode={{invoice.currency}}/>
                  <LinkTo @route='invoice-templates.show' class='link-clicker' @model={{invoice}} />
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
      <PaginationControls @pagination={{pagination}} />
    {{else}}
      <div class='pt-6'>
        <p>No invoices fit this filtering selection.</p>
      </div>
    {{/if}}
  </Layouts::PageBody>
{{else}}
  <PageBlankSlate @className='invoice-template' @description='You haven&#39;t created a recurring template yet!' />
{{/if}}