<Layouts::PageHeader @resourceType='subscription' @pageType='list'>
  <Breadcrumbs @segments={{routeSegments}} />
  <Layouts::ColumnsGrid>
    <h2>Subscription &#38; Billing</h2>
  </Layouts::ColumnsGrid>
</Layouts::PageHeader>

<Layouts::PageBody>
  <Layouts::ColumnsGrid class='sm:grid-cols-3'>
    <Layouts::GridColumn class='sm:col-span-1'>
      <Layouts::SettingsNav />
    </Layouts::GridColumn>

    <Layouts::GridColumn class='sm:col-span-2'>
      {{#if (and model.userSubscribed model.isActive)}}
        <ActiveSubscription @model={{model}} @controller={{this}} />
      {{else}}
        <SubscribeFromTrial @model={{model}} @controller={{this}} />
      {{/if}}
    </Layouts::GridColumn>
  </Layouts::ColumnsGrid>
</Layouts::PageBody>