<div class='mt-6 grid grid-cols-1 col-span-2 gap-y-6 gap-x-4 sm:grid-cols-4 sm:border-t sm:border-gray-200 sm:pt-5'>
  <div class='sm:col-span-4 text-center'>
    <p>Enter a hex color value or use the color swatches sampled from your logo.</p>
  </div>
  <header class='sm:col-span-4 py-8' style={{html-safe (concat 'background-color: ' model.headerColor ';')}}>
    {{#if url}}
      <img src={{url}} crossorigin='anonymous' alt='Header' {{on 'load' (action 'onLoadLogo')}} />
    {{/if}}
  </header>

  <div class='sm:col-span-2'>
    <FormElements::ColorInput
      @label='Header Color'
      @value={{model.headerColor}}
      @onColorChange={{action 'changeHeaderColor'}}
    />
  </div>

  <div class='sm:col-span-2'>
    <label class='tw-label'>Sampled From Logo</label>
    <ColorPalette
      @colors={{extractedColors}}
      @defaultColor={{defaultColor}}
      @onClickColor={{action 'changeHeaderColor'}}
    />
  </div>
</div>

<div class='pt-5'>
  <div class='flex justify-end flex-wrap gap-3'>
    <button type='button' class='tw-button white' {{action 'cancel'}}>Cancel</button>
    <button type='button' class='tw-button' disabled={{save.isRunning}} {{action 'save'}}>Save</button>
  </div>
</div>