<nav class='bg-gray-800'>
  <div class='max-w-7xl mx-auto px-4 sm:px-6 lg:px-8'>
    <div class='relative flex items-center justify-between h-16'>
      <div class='absolute inset-y-0 right-0 flex items-center md:hidden'>
        {{#unless show}}
        <button type='button' {{ action (mut show) true}} class='inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white' aria-controls='mobile-menu' aria-expanded='false'>
          <span class='sr-only'>Open main menu</span>
          <svg class='block h-6 w-6' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' aria-hidden='true'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16' />
          </svg>
        </button>
        {{/unless}}
        {{#if show}}
        <button type='button' {{ action (mut show) false}} class='inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white' aria-controls='mobile-menu' aria-expanded='false'>
          <span class='sr-only'>Close main menu</span>
          <svg class='h-6 w-6' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor' aria-hidden='true'>
            <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12' />
          </svg>
        </button>
        {{/if}}
      </div>
      <div class='flex items-center'>
        <div class='flex-shrink-0'>
          <LinkTo @route='index'>
            <img class='h-16 w-16' src='/assets/images/logo.svg' alt='Blinksale'>
          </LinkTo>
        </div>
        <div class='hidden md:block'>
          <div class='ml-10 flex items-baseline space-x-4'>
            <LinkTo @route='index' class='text-white px-3 py-2 rounded-md text-sm font-medium'>Dashboard</LinkTo>
            <LinkTo @route='clients' class='text-white px-3 py-2 rounded-md text-sm font-medium'>Clients</LinkTo>
            <LinkTo @route='invoices' class='text-white px-3 py-2 rounded-md text-sm font-medium'>Invoices</LinkTo>
            <LinkTo @route='invoice-templates' class='text-white px-3 py-2 rounded-md text-sm font-medium'>Recurring Invoices</LinkTo>
            <LinkTo @route='estimates' class='text-white px-3 py-2 rounded-md text-sm font-medium'>Estimates</LinkTo>
          </div>
        </div>
      </div>
      <div class='hidden md:block'>
        <div class='ml-4 flex items-center md:ml-6'>
          <PopupControl class='px-4 {{if unreadNotifications 'has-unread'}}'
            @setOpenState={{action 'setOpenState'}} as |pc|>
            <NotificationPanel @popupControl={{pc}} @notifications={{notifications}} @markAllRead={{action 'markAllRead'}} />
          </PopupControl>
          <LinkTo @route='account.profile' class='block px-4 py-2 text0sm text-white hover:text-gray-50' aria-label='Settings'><Icons::Gear /></LinkTo>
          <a href='#' class='block px-4 py-2 text-sm text-white hover:text-gray-50' {{action 'invalidateSession'}} aria-label='Sign Out'><Icons::Logout /></a>
        </div>
      </div>
    </div>
  </div>

  {{#if show}}
  <div class='md:hidden' id='mobile-menu'>
    <div class='px-2 pt-2 pb-3 space-y-1'>
      <LinkTo @route='index' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Dashboard</LinkTo>
      <LinkTo @route='clients' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Clients</LinkTo>
      <LinkTo @route='invoices' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Invoices</LinkTo>
      <LinkTo @route='invoice-templates' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Recurring Invoices</LinkTo>
      <LinkTo @route='estimates' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Estimates</LinkTo>
      <LinkTo @route='account.profile' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Profile</LinkTo>
      <a {{action 'invalidateSession'}} href='#' aria-label='Sign Out' class='bg-gray-900 text-white block px-3 py-2 rounded-md text-base font-medium'>Sign Out</a>
    </div>
  </div>
  {{/if}}
</nav>