<Layouts::PageHeader @resourceType='invoice' @pageType='form'>
  <Breadcrumbs @segments={{routeSegments}} />
  <Layouts::ColumnsGrid>
    <h2 class='leading-normal'>Edit Invoice {{model.identifier}}</h2>
  </Layouts::ColumnsGrid>
</Layouts::PageHeader>

<Layouts::PageBody>
  <Layouts::OneColumn>
    <InvoiceForm
      @model={{model}}
      @clients={{clients}}
      @currency={{currency}}
      @currencies={{currencies}}
      @currencySymbol={{currencySymbol}}
      @fetchCountries={{fetchCountries}}
      @fetchSubregions={{fetchSubregions}}
      @createTax={{createTax}}
      @createUnit={{createUnit}}
      @fetchUnits={{fetchUnits}}
      @cancel={{action 'cancel'}}
      @saveTask={{save}}
      @save={{action 'save'}}
      @saveAndPreview={{action 'saveAndPreview'}}
    />
  </Layouts::OneColumn>
</Layouts::PageBody>