{{#in-element header}}
  <h1>Enter your email address to set a new password.</h1>
{{/in-element}}

<form {{action 'save' on='submit'}} novalidate>
  {{#if validations.base.isInvalid}}
    <p class='validation-message error'>{{validations.base.message}}</p>
  {{/if}}
  <div class='grid grid-cols-1 gap-x-6 gap-y-4'>
    <div>
      <FormElements::EmailInput
        data-lpignore='true'
        disabled={{save.isRunning}}
        @value={{model.email}}
        @label='Email address'
        @showErrors={{validations.email.isInvalid}}
        @errorMessage={{validations.email.message}}
      />
    </div>

    <button type='submit' class='tw-button justify-center' disabled={{save.isRunning}}>Send Password Reset Email</button>

    <LinkTo @route='login' class='tw-link text-center'>Remembered your password? <span>Sign In</span></LinkTo>
  </div>
</form>