{{#in-element header}}
  <h1>You're ready to reset your password!</h1>
{{/in-element}}

<form {{action 'save' on='submit'}} novalidate>
  {{#if errorMessage}}
    <p class='validation-message error'>There was an error with your submission:<br/>{{errorMessage}}</p>
  {{/if}}

  <div class='grid grid-cols-1 gap-x-6 gap-y-4'>
    <div>
      <FormElements::PasswordInput
        @value={{model.password}}
        @label='Password'
        @showErrors={{validations.password.isInvalid}}
        @errorMessage={{validations.password.message}}
      />
    </div>

    <div>
      <FormElements::PasswordInput
        @value={{model.passwordConfirmation}}
        @label='Confirm new password'
        @showErrors={{validations.passwordConfirmation.isInvalid}}
        @errorMessage={{validations.passwordConfirmation.message}}
      />
    </div>

    <button type='submit' class='tw-button justify-center' disabled={{save.isRunning}}>Reset my password</button>

  </div>
</form>