{{#if label}}
  <label for='{{elementId}}' class='tw-label'>{{label}}</label>
{{/if}}

<div class='mt-1 relative'>
  <PowerSelect
    @options={{options}}
    @searchField={{optionLabel}}
    @searchEnabled={{searchEnabled}}
    @placeholder={{placeholder}}
    @searchPlaceholder={{searchPlaceholder}}
    @selected={{selected}}
    @noMatchesMessage={{noMatchesMessage}}
    @triggerClass={{if showErrors 'error'}}
    @dropdownClass={{if showErrors 'error'}}
    @defaultHighlighted={{this.highlightItem}}
    @selectedItemComponent={{selectedItemComponent}}
    @triggerComponent='form-elements/power-trigger'
    @onChange={{action 'onChange'}} as |name|>
      {{get name optionLabel}}
  </PowerSelect>
</div>

{{#if showErrors}}
  <p class='validation-message error'>{{errorMessage}}</p>
{{/if}}