{{#if label}}
  <label for={{fieldId}} class='tw-label'>{{label}}</label>
{{/if}}
<div class='tw-input-wrapper'>
  <div class='relative flex items-stretch flex-grow focus-within:z-10'>
    <Input ...attributes
      id={{fieldId}}
      @type={{type}}
      @value={{internalValue}}
      @isNumber={{isNumber}}
      @showErrors={{_showErrors}}
      @allowClear={{allowClear}}
      @hasLeadingIcon={{hasLeadingIcon}}
      @classNameBindings={{_classNameBindings}}
      @classNames={{_classNames}}
      @focusOut={{action (mut _isBlur) true}}
      @focusIn={{action (mut _isBlur) showErrors}}
    />
  </div>
  {{yield leadingIcon trailingIcon showClear _showErrors (action 'onTrailingIconClick')}}
</div>

{{#if _showErrors}}
  <p class='validation-message error'>{{errorMessage}}</p>
{{/if}}

{{#if hint}}
  <p class='validation-message hint'>{{hint}}</p>
{{/if}}